[submodule "acf_resource_compute"]
	path = acf_resource_compute
	url = https://github.com/avaloqcloud/acf_resource_compute.git
[submodule "terraform-oci-compute"]
	path = terraform-oci-compute
	url = https://github.com/avaloqcloud/terraform-oci-compute
